<section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
       <div class="d-sm-flex align-items-center justify-content-between">
          <div>
             <h1>
                We give <span class="text-warning">Logistic Solution...</span>
             </h1>
             <p class="lead my-4">
                We focus on the timely delivery with a live tracking service as
                technology grows we are gonna come up with our new techie services
                for your convinience Keep supporting us and lets
             </p>
             <button class="btn btn-warning btn-lg ">Sign up</button>
          </div>
          <img
             class="img-fluid w-50 d-none d-sm-block py-5"
             src="assets/showcase.svg"
             alt=""
             />
       </div>
    </div>
 </section>
