

<body>
    

    <div class="container py-5">
    <div class="card mx-auto">
      <div class="card-header">
        <h2>Reset Password</h2>
      </div>
      <div class="card-body">
        <form #resetpassword="ngForm" (ngSubmit)="forgetpassword()" >



            <div class="form-group">

                <label for="username">Select User:</label>
            <select class="form-control" name="user_info" #userinfo="ngModel"[(ngModel)]="user_info" required (change)="flaguserinfo()">
              <option> Client </option>
              <option> Branch </option>
              <option> Admin </option>
          </select>
          <div *ngIf="userinfo.invalid && userinfo.touched" style="color:red"> 
            <div *ngIf="userinfo.errors?.['required']" style="color:red"> Please Select the Pickup Location</div>
           </div>
            </div>

          <div class="form-group" *ngIf="branch_flag">


            

            <label for="username">Select City:</label>
            <select class="form-control" name="city_location" #cityuplocation="ngModel"[(ngModel)]="city_location" required>
              <option *ngFor="let location of cloc" >{{ location }} </option>
          </select>
          <div *ngIf="cityuplocation.invalid && cityuplocation.touched" style="color:red"> 
            <div *ngIf="cityuplocation.errors?.['required']" style="color:red"> Please Select the Pickup Location</div>
           </div>
           </div>

           <div class="form-group" *ngIf="branch_flag">
           <label for="name"><b>Select Branch</b></label>
           <select class="form-control" #selectbranch="ngModel" name="branch" [(ngModel)]="branch" >
             <ng-container *ngFor="let branch of Branches|keyvalue">
               <ng-container *ngIf="branch.key == city_location">
                 <ng-container *ngFor="let branch of branch.value">
              <option>{{ branch }}</option>
             </ng-container>
             </ng-container>
              </ng-container>
         </select>
         </div>
         <div class="form-group" *ngIf="branch_flag">
            <label for="username">Branch Email:</label>
            <input type="text" #branchemail="ngModel" name="branch_email" [(ngModel)]="branch_email"class="form-control" placeholder="Enter Branch Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <div *ngIf="branchemail.invalid && branchemail.touched" style="color:red"> 
              <div *ngIf="branchemail.errors?.['pattern']" style="color:red"> pattern_mismatch
              </div>
              <div *ngIf="branchemail.errors?.['required']" style="color:red"> Please Enter the email</div>
              </div>
              </div>
              <div class="form-group" *ngIf="client_flag">
                <label for="username">Client Email:</label>
                <input type="text" #clientemail="ngModel" name="client_email" [(ngModel)]="client_email"class="form-control" placeholder="Enter Client Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div *ngIf="clientemail.invalid && clientemail.touched" style="color:red"> 
                  <div *ngIf="clientemail.errors?.['pattern']" style="color:red"> pattern_mismatch
                  </div>
                  <div *ngIf="clientemail.errors?.['required']" style="color:red"> Please Enter the email</div>
                  </div>
                  </div>
                  <div class="form-group" *ngIf="admin_flag">
                    <label for="username">Admin Email:</label>
                    <input type="text" #adminemail="ngModel" name="admin_email" [(ngModel)]="admin_email"class="form-control" placeholder="Enter Admin Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <div *ngIf="adminemail.invalid && adminemail.touched" style="color:red"> 
                      <div *ngIf="adminemail.errors?.['pattern']" style="color:red"> pattern_mismatch
                      </div>
                      <div *ngIf="adminemail.errors?.['required']" style="color:red"> Please Enter the email</div>
                      </div>
                      </div>

              <div class="form-group">
                <label for="name"><b>New Password</b></label>
                <input type="text" class="form-control"  #newpassword= "ngModel" name="new_password" [(ngModel)]="new_password"  placeholder= "Password with min 8 characters with atleast 1 uppercase and 1 lowercase and 1 digit and a special character" required minlength="8"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$" >
                <div *ngIf="newpassword.invalid && newpassword.touched" style="color:red"> 
                   <div *ngIf="newpassword.errors?.['required']" style="color:red"> Please Enter the Password</div>
                <div *ngIf="newpassword.errors?.['pattern'] " style="color:red"> invalid password pattern</div>
                <div *ngIf="newpassword.errors?.['minlength'] " style="color:red">Min length should be 8</div>
             </div>
             </div>
             <div class="form-group">
                <label for="name"><b>Confirm New password</b></label>
                <input type="text" class="form-control"  #confirmnewpassword= "ngModel" name="confirmnew_password" [(ngModel)]="confirmnew_password"  placeholder= "Password with min 8 characters with atleast 1 uppercase and 1 lowercase and 1 digit and a special character" required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$" Mismatch="new_password">
                <div *ngIf="confirmnewpassword.invalid && confirmnewpassword.touched" style="color:red"> 
                   <div *ngIf="confirmnewpassword.errors?.['required']" style="color:red"> Please Enter the Password</div>
                   <div *ngIf="confirmnewpassword.errors?.['pattern'] " style="color:red"> invalid password pattern</div>
                   <div *ngIf="confirmnewpassword.errors?.['minlength'] " style="color:red">Min length should be 8</div>
                   <div *ngIf="confirmnewpassword.errors?.['Mismatch'] " style="color:red">Min length should be 8</div>
            </div>
             <div *ngIf=" confirmnewpassword.touched  && new_password!==confirmnew_password" style="color:red">Password Mismatch</div>
                
             

                   
              </div>
          <button type="submit" class="btn btn-danger" [disabled]="resetpassword.invalid  && (!client_flag||!admin_flag||!branch_flag)">OTP VERIFICATION</button>
        </form>
      </div>
      <div class="card-footer py-3">
    
    <p class="text-danger">Next step is to verity otp (one time password)</p>

      </div>
    </div>
</div>
</body>
    
