<style>

.bg-danger {
         background-color: rgb(156, 5, 5) !important;
         }

</style>
<section class="py-5" style="background-color: rgb(239, 231, 240);">
   <div class="container" id="OUR SERVICES">
      <h1 class="text-center pb-5">OUR SERVICE & BRANCHES</h1>
   
         
        <div class="row">
   <div class="col-md-4 text-center" *ngFor="let item of Cities">
     
 
   <div 
   class="{{item.bgcolor}}"
   >
   <div class="image">
      <img src={{item.imageUrl}} class="card-img-top" alt=""width="240" height="240" />
   </div>
   <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">
 {{item.body}}
      </p>
      <button type="button" class="btn btn-dark" (click)="togglebranches(content, item.title)" >
        
      {{item.title_btn}}
      </button>
   </div>
   </div>
 </div>
</div> 
</div>

</section>


<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title"></h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	
      <div class="modal-body" *ngFor="let item of Branches">
         <h6>{{item.Area}}</h6>
         <p>
            Branch Incharge: {{item.Branch_Incharge}}
         </p>
         <p>
            Contact Info: {{item.Contact_Info}}
         </p>
         <p> Address: {{item.Branch_Address}}
         </p>
         <br>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>