a:hover{
    
    background-color: rgb(51, 50, 50);
    border-radius: .30rem;
    
    
    color: white !important;

}

.userheader {
    position: fixed;


    top: 0;
    width: 100%;
    height: 50px; /* Fixed header height */
    z-index: 2;
  }